<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.company.mapper.CompanyMapper">

    <resultMap type="Company" id="CompanyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="isvendor"    column="isvendor"    />
        <result property="code"    column="code"    />
        <result property="iscustomer"    column="iscustomer"    />
        <result property="remark"    column="remark"    />
        <result property="available"    column="available"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCompanyVo">
        select id, name, isvendor, code, iscustomer, remark, available, create_by, create_time, update_by, update_time from m_company
    </sql>

    <select id="selectCompaniesAll" resultMap="CompanyResult">
        select * from m_company
    </select>

    <select id="selectCompanyList" parameterType="Company" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isvendor != null "> and isvendor = #{isvendor}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="iscustomer != null "> and iscustomer = #{iscustomer}</if>
            <if test="available != null "> and available = #{available}</if>
        </where>
    </select>

    <select id="selectLastCode" resultMap="CompanyResult">
        select code from m_company order by create_time desc limit 1
    </select>
    
    <select id="selectCompanyById" parameterType="Long" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        where id = #{id}
    </select>

    <select id="selectCustomerAll" resultMap="CompanyResult">
    <include refid="selectCompanyVo"/>
    where iscustomer=1 and available=1
</select>

    <select id="selectVendorAll" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
         where isvendor =1 and available=1
    </select>
    <insert id="insertCompany" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
        insert into m_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="isvendor != null">isvendor,</if>
            <if test="code != null">code,</if>
            <if test="iscustomer != null">iscustomer,</if>
            <if test="remark != null">remark,</if>
            <if test="available != null">available,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="isvendor != null">#{isvendor},</if>
            <if test="code != null">#{code},</if>
            <if test="iscustomer != null">#{iscustomer},</if>
            <if test="remark != null">#{remark},</if>
            <if test="available != null">#{available},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCompany" parameterType="Company">
        update m_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="isvendor != null">isvendor = #{isvendor},</if>
            <if test="code != null">code = #{code},</if>
            <if test="iscustomer != null">iscustomer = #{iscustomer},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="available != null">available = #{available},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyById" parameterType="Long">
        delete from m_company where id = #{id}
    </delete>

    <delete id="deleteCompanyByIds" parameterType="String">
        delete from m_company where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>