<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.project.mapper.ProjectMemberRelMapper">

    <resultMap type="ProjectMemberRel" id="ProjectMemberRelResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="customerId"    column="customer_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="entrustName"    column="entrust_name"    />
        <result property="manDay"    column="man_day"    />
        <result property="vendorNeeded"    column="vendor_needed"    />
        <result property="entrustType"    column="entrust_type"    />
        <result property="vendorName"    column="vendor_name"    />
        <result property="available"    column="available"    />
        <result property="vendorManday"    column="vendor_manday"    />
        <result property="userId"    column="user_id"    />
        <result property="projectId"    column="project_id"    />
    </resultMap>

    <select id="selectProjectMemberRelList" parameterType="ProjectMemberRel" resultMap="ProjectMemberRelResult">

    </select>


<!--    <insert id="insertProjectMemberRel" parameterType="ProjectMemberRel" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into -->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="name != null and name != ''">name,</if>-->
<!--            <if test="isvendor != null">isvendor,</if>-->
<!--            <if test="code != null">code,</if>-->
<!--            <if test="iscustomer != null">iscustomer,</if>-->
<!--            <if test="remark != null">remark,</if>-->
<!--            <if test="available != null">available,</if>-->
<!--            <if test="createBy != null">create_by,</if>-->
<!--            <if test="createTime != null">create_time,</if>-->
<!--            <if test="updateBy != null">update_by,</if>-->
<!--            <if test="updateTime != null">update_time,</if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="name != null and name != ''">#{name},</if>-->
<!--            <if test="isvendor != null">#{isvendor},</if>-->
<!--            <if test="code != null">#{code},</if>-->
<!--            <if test="iscustomer != null">#{iscustomer},</if>-->
<!--            <if test="remark != null">#{remark},</if>-->
<!--            <if test="available != null">#{available},</if>-->
<!--            <if test="createBy != null">#{createBy},</if>-->
<!--            <if test="createTime != null">#{createTime},</if>-->
<!--            <if test="updateBy != null">#{updateBy},</if>-->
<!--            <if test="updateTime != null">#{updateTime},</if>-->
<!--        </trim>-->
<!--    </insert>-->

<!--    <update id="updateCompany" parameterType="Company">-->
<!--        update m_company-->
<!--        <trim prefix="SET" suffixOverrides=",">-->
<!--            <if test="name != null and name != ''">name = #{name},</if>-->
<!--            <if test="isvendor != null">isvendor = #{isvendor},</if>-->
<!--            <if test="code != null">code = #{code},</if>-->
<!--            <if test="iscustomer != null">iscustomer = #{iscustomer},</if>-->
<!--            <if test="remark != null">remark = #{remark},</if>-->
<!--            <if test="available != null">available = #{available},</if>-->
<!--            <if test="createBy != null">create_by = #{createBy},</if>-->
<!--            <if test="createTime != null">create_time = #{createTime},</if>-->
<!--            <if test="updateBy != null">update_by = #{updateBy},</if>-->
<!--            <if test="updateTime != null">update_time = #{updateTime},</if>-->
<!--        </trim>-->
<!--        where id = #{id}-->
<!--    </update>-->

    <delete id="deleteCompanyById" parameterType="Long">
        delete from m_company where id = #{id}
    </delete>

    <delete id="deleteCompanyByIds" parameterType="String">
        delete from m_company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>