<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nssol.project.system.project.mapper.ProjectMapper">

    <resultMap type="Project" id="ProjectResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="customerId"    column="customer_id"    />
        <result property="manDay"    column="man_day"    />
        <result property="vendorNeeded"    column="vendor_needed"    />
        <result property="entrustType"    column="entrust_type"    />
        <result property="vendorName"    column="vendor_name"    />
        <result property="available"    column="available"    />
        <result property="createBy"    column="create_by"    />
        <result property="vendorManDay"    column="vendor_manday"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProjectVo">
        select id, code, name, start_date, end_date, customer_id, man_day, vendor_needed, entrust_type, vendor_name, available, create_by, vendor_manday, create_time, update_by, remark, update_time from m_project
    </sql>

    <select id="selectAllProjectList" parameterType="Project" resultMap="ProjectResult">
        select p.id, p.name, p.code,mc.name customerName, p.start_date, p.end_date, p.customer_id, p.man_day, p.vendor_needed, met.type entrustName, p.vendor_name, p.available, p.create_by,p.vendor_manday, p.create_time, p.update_by, p.update_time from m_project p
        left join m_company mc on p.customer_id = mc.id
        left join m_entrust_type met on met.code=p.entrust_type
        group by customer_id
    </select>

    <select id="selectProjectList" parameterType="Project" resultMap="ProjectResult">
        select p.id, p.name, p.code,mc.name customerName, p.start_date, p.end_date, p.customer_id, p.man_day, p.vendor_needed, met.type entrustName, p.vendor_name, p.available, p.create_by,p.vendor_manday, p.create_time, p.update_by, p.update_time from m_project p
        left join m_company mc on p.customer_id = mc.id
        left join m_entrust_type met on met.code=p.entrust_type
        <where>
            <if test="code != null  and code != ''"> and p.code = #{code}</if>
            <if test="name != null  and name != ''"> and p.name like concat('%', #{name}, '%')</if>
            <if test="startDate != null "> and p.start_date = #{startDate}</if>
            <if test="endDate != null "> and p.end_date = #{endDate}</if>
            <if test="customerId != null "> and p.customer_id = #{customerId}</if>
            <if test="manDay != null "> and p.man_day = #{manDay}</if>
            <if test="vendorNeeded != null "> and p.vendor_needed = #{vendorNeeded}</if>
            <if test="entrustType != null "> and p.entrust_type = #{entrustType}</if>
            <if test="vendorName != null  and vendorName != ''"> and p.vendor_name like concat('%', #{vendorName}, '%')</if>
            <if test="available != null "> and p.available = #{available}</if>
            <if test="vendorManDay != null "> and p.vendor_manday = #{vendorManDay}</if>
        </where>
    </select>
    
    <select id="selectProjectById" parameterType="Long" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        where id = #{id}
    </select>

    <select id="selectProjectByName" parameterType="String" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        where name like #{name}
    </select>

    <select id="selectAllProjects" resultMap="ProjectResult">
        select * from m_project
    </select>

    <insert id="insertProject" parameterType="Project" useGeneratedKeys="true" keyProperty="id">
        insert into m_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="manDay != null">man_day,</if>
            <if test="vendorNeeded != null">vendor_needed,</if>
            <if test="entrustType != null">entrust_type,</if>
            <if test="vendorName != null">vendor_name,</if>
            <if test="available != null">available,</if>
            <if test="createBy != null">create_by,</if>
            <if test="vendorManDay != null">vendor_manday,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="manDay != null">#{manDay},</if>
            <if test="vendorNeeded != null">#{vendorNeeded},</if>
            <if test="entrustType != null">#{entrustType},</if>
            <if test="vendorName != null">#{vendorName},</if>
            <if test="available != null">#{available},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="vendorManDay != null">#{vendorManDay},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateProject" parameterType="Project">
        update m_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="manDay != null">man_day = #{manDay},</if>
            <if test="vendorNeeded != null">vendor_needed = #{vendorNeeded},</if>
            <if test="entrustType != null">entrust_type = #{entrustType},</if>
            <if test="vendorName != null">vendor_name = #{vendorName},</if>
            <if test="available != null">available = #{available},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="vendorManDay != null">vendor_manday = #{vendorManDay},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectById" parameterType="Long">
        delete from m_project where id = #{id}
    </delete>

    <delete id="deleteProjectByIds" parameterType="String">
        delete from m_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>