<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.project.mapper.ProjectMemberMapper">
    
    <resultMap type="ProjectMember" id="ProjectMemberResult">
        <result property="userId"    column="user_id"    />
        <result property="projectId"    column="project_id"    />
    </resultMap>

    <sql id="selectProjectMemberVo">
        select user_id, project_id from m_project_member
    </sql>

    <select id="selectProjectMemberList" parameterType="ProjectMember" resultMap="ProjectMemberResult">
        <include refid="selectProjectMemberVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
        </where>
    </select>
    
    <select id="selectProjectMemberByUserId" parameterType="Long" resultMap="ProjectMemberResult">
        <include refid="selectProjectMemberVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertProjectMember" parameterType="ProjectMember">
        insert into m_project_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="projectId != null">project_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="projectId != null">#{projectId},</if>
         </trim>
    </insert>

    <update id="updateProjectMember" parameterType="ProjectMember">
        update m_project_member
        <trim prefix="SET" suffixOverrides=",">

            <if test="userId != null">user_id = #{userId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
        </trim>
            where project_id = #{projectId}
    </update>

    <delete id="deleteProjectMember" parameterType="Long">
        delete from m_project_member where project_id in
        <foreach collection="array" item="projectId" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

    <delete id="deleteProjectMemberByProjectId" parameterType="Long">
        delete from m_project_member where project_id= #{projectId}
    </delete>

    <delete id="deleteProjectMemberByUserId" parameterType="Long">
        delete from m_project_member where user_id = #{userId}
    </delete>

    <delete id="deleteProjectMemberByUserIds" parameterType="String">
        delete from m_project_member where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>


    <insert id="batchProjectMember">
        insert into m_project_member(project_id, user_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.projectId},#{item.userId})
        </foreach>
    </insert>

</mapper>