<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.record.mapper.RecordMapper">
    
    <resultMap type="Record" id="RecordResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="devolopType"    column="develop_type"    />
        <result property="devolopDetail"    column="develop_Detail"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectRecordVo">
        select r.id, r.project_id, r.develop_type, r.create_time, r.create_by, r.update_time, r.update_by, r.develop_detail ,
               p.name project_name
        from m_record r
        left join m_project p on p.id=r.project_id
    </sql>

    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        <where>  
            <if test="r.projectId != null "> and r.project_id = #{projectId}</if>
            <if test="r.entrustTypeCode != null "> and r.entrust_type_code = #{entrustTypeCode}</if>
            <if test="r.createTime != null "> and r.create_time = #{createTime}</if>
            <if test="r.createBy != null  and createBy != ''"> and r.create_by = #{createBy}</if>
            <if test="r.updateTime != null "> and r.update_time = #{updateTime}</if>
            <if test="r.updateBy != null  and updateBy != ''"> and r.update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectRecordById" parameterType="Long" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where r.id = #{id}
    </select>
        
    <insert id="insertRecord" parameterType="Record" useGeneratedKeys="true" keyProperty="id">
        insert into m_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="entrustTypeCode != null">entrust_type_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="entrustTypeCode != null">#{entrustTypeCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRecord" parameterType="Record">
        update m_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="entrustTypeCode != null">entrust_type_code = #{entrustTypeCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecordById" parameterType="Long">
        delete from m_record where id = #{id}
    </delete>

    <delete id="deleteRecordByIds" parameterType="String">
        delete from m_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>