<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改项目')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-project-edit" th:object="${project}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目代码：</label>
                <div class="col-sm-8">
                    <input name="code" th:field="*{code}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="startDate" th:value="${#dates.format(project.startDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="endDate" th:value="${#dates.format(project.endDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">项目成员:</label>
                <div class="col-sm-8">
                    <select id="user" class="form-control select2-multiple" multiple>
                        <option th:each="user:${users}" th:value="${user.userId}" th:text="${user.userName}" th:selected="${user.flag}" ></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">客户:</label>
                <div class="col-sm-8">
                    <select id="customer" name="customer" class="form-control">
                        <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}" th:field="*{customerId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">人天：</label>
                <div class="col-sm-8">
                    <input name="manDay" th:field="*{manDay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">是否需要供应商：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                        <input type="radio" th:id="${'vendorNeeded_' + dict.dictCode}" name="vendorNeeded" th:value="${dict.dictValue}" th:field="*{vendorNeeded}" required>
                        <label th:for="${'vendorNeeded_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">供应商:</label>
                <div class="col-sm-8">
                    <select id="vendor" name="vendor" class="form-control">
<!--                        <option value="" selected>请选择供应商</option>-->
                        <option th:each="vendor:${vendors}" th:value="${vendor.name}" th:text="${vendor.name}" th:field="*{vendorName}"></option>
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">委托方式：</label>
                <div class="col-sm-8">
                    <select id="entrustType" name="entrustType" th:with="type=${@dict.getType('m_entrust_type')}" class="form-control">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{entrustType}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">供应商人天：</label>
                <div class="col-sm-8">
                    <input name="vendorManday" th:field="*{vendorManDay}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">是否有效：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                        <input type="radio" th:id="${'available_' + dict.dictCode}" name="available" th:value="${dict.dictValue}" th:field="*{available}" required>
                        <label th:for="${'available_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />

    <script th:inline="javascript">
        var prefix = ctx + "system/project";
        $("#form-project-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-project-edit").serializeArray();
                var vendorName = $.form.selectSelects("vendor");
                var customerId = $.form.selectSelects("customer");
                var userIds = $.form.selectSelects("user");
                data.push({"name": "vendorName", "value": vendorName});
                data.push({"name": "userIds", "value": userIds});
                data.push({"name": "customerId", "value": customerId});
                $.operate.save(prefix + "/edit", data);
            }
        }

        $("input[name='startDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        $('input').on('ifChecked', function(event){
            var vendorNeeded = $(event.target).val();
            if (vendorNeeded == "0") {
                $("#vendor").parents(".form-group").hide();
                $("#entrustType").parents(".form-group").hide();
                $("#vendorManday").parents(".form-group").hide();
            }else if (vendorNeeded == "1") {
                $("#vendor").parents(".form-group").show();
                $("#entrustType").parents(".form-group").show();
                $("#vendorManday").parents(".form-group").show();
            }
        });

        $(function() {
            $('#user').select2({
                placeholder: "请选择项目成员",
                allowClear: true
            });
        })
    </script>
</body>
</html>